body {
  background: rgba(245, 223, 148, 0.99);
}
.navbar {
    background: rgb(252, 143, 10) !important;
    border-bottom: 3px solid silver;
    border-color: #f5f5f6 !important;
}
.navbar-brand{
    color: white !important;
    font-family: Arial;

}


.alert-light {
  border-color: #bfbfbf;
}

.form-register {
  padding: 20px;
  background: #fafafa;
  border: 1px solid silver;
  margin-top: 20px;
}

.form-register .helptext {color: #000000
}

.form-register ul.errorlist {
    color: #ca5858;
    font-weight: bold;
}

footer {
  width: 70%;
  margin-left: 15%;
}

.form-register.auth input {
    display: block;
    width: 96%;
    margin-top: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2%;

}

.table-bordered td, .table-bordered th{
    border-color: #4d74bd !important;
    background-color: rgb(245, 245, 246) !important;
    text-align: center !important;
}

td.red {
    background-color: rgb(252, 236, 236) !important;
}
td.orange {
    background-color: rgb(248, 237, 230) !important;
}
td.green {
    background-color: rgb(221, 246, 221) !important;
}

.Badresult {
  color: #FF0000;
}

.Goodresult {
  color: #047c0a;
}

.Middleresult {
  color: orange;
}


.alert-light {
  color: #04147c;
    background-color: rgb(245, 245, 246);
}


.nor , nor.td, nor.th {
  border: 1px solid black;
    height: 22px;
    padding: 0 !important;
    text-align: center !important;
    border-collapse: collapse !important;
    min-width: 100px;
}

.nor {
  border-collapse: collapse;
  background-color: rgb(245, 245, 246);
    width: 15px;
}

@media print{
   .noprint{
       display:none;
   }
}

th.ind {
    max-width: 100px !important;
    word-wrap: break-word;
}

td.ind {
    max-width: 100px !important;
    word-wrap: break-word;
}
